/*
 These imports will import all the scss files from the /containers. All the containers will have children scss
 relationships imbedded from /components. This index.scss will be converted to css by the SASS/SCSS preprocessor. The
 create-react-app only cares about this file to create and compile all the css to be auto-prefixed and minified for
 distribution.
*/
.@import 'containers/frontpage/frontpage.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
