//@import './../../components/header/header.scss';
//@import 'components/header/_header.scss';

.Center {
  text-align: center;
  color: #881116;
  font-size: 1.3em;
}
//
//.bob {
//  text-align: center;
//  color: #662651;
//}
//
//.road-background {
//  background-image: url('./../../images/RoadPath.svg');
//  background-repeat: no-repeat;
//  background-size: cover;
//}